@import url("https://jhonsome.github.io/web/main/styles/style001.css");

@font-face {
	font-family: "Minecraft";
	src: url("fonts/minecraft.ttf") format("truetype");
}

div#output {
	min-height: 2em;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0px;
	background-color: var(--color3);
	word-break: break-word;
	font-family: Minecraft, monospace;
}

div.smallbox {
	width: 1em;
	height: 1em;
	border: 1px solid #000000;
}
