main div.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 20%;
	color: #FFFFFF;
	text-align: right;
}

main div.container > p {
	padding: 0px 10px;
}

main p.yellow {
	background-color: #FFC600;
	color: #000000;
	text-align: left;
	border-radius: 5%;
}
