@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");

body {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #8D93C9;
}

main {
  background-color: #FFFFFF;
  margin: auto;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000054;
}

h1 {
  color: #515EC9;
  text-align: center;
  text-shadow: 0 0 3px #515EC98F;
}

h2, h3, h4, h5, h6 {
  color: #6F78C9;
  text-shadow: 0 0 3px #6F78C98F;
}

p {
  text-align: justify;
  text-indent: 30px;
}