@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@400;700&display=swap');

:root {
  --color_1: #252935;
  --color_2: #46495A;
  --color_3: #798098;
  --color_4: #8B8BAE;
  --heading_font: Comfortaa, cursive;
  --defaut_font: Montserrat, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-size: 22px;
  background-color: var(--color_4);
  font-family: var(--defaut_font);
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  transition: 300ms;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  margin: 10px 0px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading_font);
	font-weight: normal;
}

header {
	padding: 20% 5%;
  background-color: var(--color_1);
  background-image: linear-gradient(to bottom, var(--color_2), var(--color_1));
  color: #FFFFFF;
}

nav {
	padding: 10px 0px;
	color: #FFFFFF;
	background-color: var(--color_1);
}

nav > a {
	padding: 10px;
}

nav > a:hover {
	background-color: var(--color_3);
	border-radius: 10px;
}

main {
  padding: 10px;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
}

hr {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 1px;
}

footer {
  background-color: var(--color_1);
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

input, textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	font-size: 1.2em;
	border: 2px solid #000000;
	border-radius: 10px;
}

input[type=button] {
	background-color: var(--color_3);
	border-color: #FFFFFF;
}

table {
	margin: 10px 0px;
	border-collapse: collapse;
	width: 100%;
}

table > caption {
	font-weight: bold;
}

table td, th {
	border: 2px solid #000000;
	padding: 10px;
	background-color: #FFFFFF;
	text-align: center;
}

table th {
	background-color: var(--color_3);
}

table td.number {
	text-align: right;
}

footer {
	background-color: var(--color_1);
	background-image: linear-gradient(to top, var(--color_2), var(--color_1));
} 
