@import url("https://jhonsome.github.io/web/main/allpages.css");

@keyframes ltr-anim {
	from {
		transform: translateX(-40%);
		opacity: 0;
	}
	
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes rtl-anim {
	from {
		width: 50%;
	}
	
	to {
		width: 30%;
	}
}

@keyframes scale-in-anim {
	from {
		transform: scale(1);
	}
	
	to {
		transform: scale(1.1);
	}
}

@keyframes scale-out-anim {
	from {
		transform: scale(1.1);
	}
	
	to {
		transform: scale(1);
	}
}

.scale-out-anim[data-is-visible="yes"] {
	animation: scale-out-anim 300ms ease-in-out;
	animation-fill-mode: forwards;
}

.ltr-anim[data-is-visible="yes"] {
	animation: ltr-anim 1s ease-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.rtl-anim[data-is-visible="yes"] {
	animation: rtl-anim 1s ease-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

header {
	display: flex;
	flex-direction: row;
	transition: 300ms;
	overflow-x: hidden;
}

header > div {
	display: flex;
	flex-direction: column;
	background-color: var(--color_1);
	width: 50%;
}

header > div > i.fa-solid {
	padding: 5px;
	color: var(--color_6);
}

header > div > h1 {
	position: relative;
	left: 40px;
	opacity: 0;
	white-space: nowrap;
	font-size: 2.5em;
	margin: auto 0px;
	color: var(--color_6);
	font-family: var(--heading_font);
}

header > img {
	background-image: linear-gradient(to right, #000000DA, transparent);
}

nav {
	transition: 300ms;
}

nav i.fa-solid {
	float: right;
	padding: 5px;
	color: #9C9C9C;
}

nav li {
	color: #9C9C9C;
	padding: 2px;
}

nav a {
  margin-left: 1em;
}

main > section > h2 {
	display: inline-block;
	padding: 0px 0.5em;
	position: relative;
	top: -0.9em;
	background-color: var(--color_5);
}

main > section > div#projects_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
	align-content: center;
	flex-wrap: wrap;
}

main > section > div#projects_list > div {
	width: 400px;
	padding: 10px;
  border: 1px solid var(--color_2);
}

main > section > div#projects_list > div img {
	display: block;
	margin-left: -10px;
	margin-top: -10px;
	width: calc(100% + 20px);
	height: 400px;
	border-bottom: 1px solid var(--color_2);
	background-image: url("https://jhonsome.github.io/web/main/media/no_image.png");
	background-repeat: no-repeat;
	background-size: 400px 400px;
	transform: scale(1.1);
}

main > section > div#projects_list > div img:hover {
	animation: scale-in-anim 300ms ease-in-out;
	animation-fill-mode: forwards;
}

main > section > div#projects_list > div > h3 {
	text-align: center;
	font-family: var(--heading_font);
	padding: 10px;
}

main > section > div#projects_list > div > p {
	padding: 10px ;
} 

main > section > div#projects_list > div > div.container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

main > section > div#projects_list > div > div.container > button {
	padding: 5px;
	margin: 10px 1px;
	background-color: var(--color_4);
	border: 1px solid var(--color_2);
	transition: 300ms;
}

main > section > div#projects_list > div > div.container > button:hover {
	background-color: var(--color_1);
	color: var(--color_6);
}

main > section > div#projects_list > div > div.container > button:active {
	background-color: #FFFFFF;
	color: #000000;
}

footer i.fa-brands {
	font-size: 2em;
	color: var(--color_6);
}

footer a.icon:hover::after {
	animation: none;
} 
