@import url("https://jhonsome.github.io/web/main/style/mainstyle.css");

header {
  background-image: url("cat.png"), linear-gradient(to right, #00000082, transparent);
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-attachment: fixed;
} 

main ul {
	list-style: none;
}

main ul > li {
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 10px;
}

main ul > li > a {
	color: #000000;
}

footer .icon {
	margin: 10px 0px;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
}

footer .github {
  background-image: url("github_icon.png");
}

footer .instagram {
  background-image: url("instagram_icon.png");
}
