@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap'); 

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #000000;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10% 0px;
}

header > h1 {
  font-family: "Passion One", cursive;
  font-variant: small-caps;
}

section {
  background-color: #FFFFFF;
  padding: 20% 1em;
  font-family: Sriracha, cursive;
} 

section p {
  padding: 1em;
  line-height: 2em;
}

section.parallax {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 10px 1px #000000;
}

section.parallax > p {
  background-color: #0000004F;
  border-radius: 10px;
  width: auto;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
}

section.bg1 {
  background-image: url("image/background001.jpg");
}

section.bg2 {
  background-image: url("image/background002.jpg");
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
}
