body {
  background: rgb(144, 144, 255);
}


header {
  color: white;
  font: normal 20pt Casual;
  text-align: center;
}


section {
  background: rgb(230, 230, 230);
  border-radius: 20pt;
  padding: 16pt;
  width: 400pt;
  margin: auto;
  box-shadow: 7pt 7pt 5pt rgb(0, 0, 0, 0.300);
  
}


p#marca {
  color: white;
  font: normal 10pt Itálic;
  text-align: center;
}


p#relógio {
  font: normal 20pt Monospace;
} 
