@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

:root {
  --color1: #252935;
  --color2: #46495A;
  --color3: #798098;
  --color4: #8B8BAE;
  --font: "Advent Pro", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100vh;
}

body {
  font-size: 22px;
  background-color: var(--color4);
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: var(--color1);
  background-image: url("cat.png"), linear-gradient(to right, #00000082, transparent);
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-attachment: fixed;
  padding: 25% 50px 25% 20px;
  color: #FFFFFF;
}

header h1 {
  font-family: var(--font);
  font-weight: normal;
}

main {
  padding: 20px 10px;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
}

main ul {
  list-style: none;
}

main ul > li {
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--color1);
  font-weight: bold;
  transition: 300ms;
}

a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

main h2 {
  font-family: var(--font);
  font-weight: normal;
}

main p {
  margin: 1em 0px;
  line-height: 1.5em;
}

main hr {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 1px;
}

footer {
  background-color: var(--color1);
  background-image: linear-gradient(to top, var(--color1), var(--color2));
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

footer > p {
  padding: 10px;
}

footer a {
	color: #FFFFFF;
}

footer > hr {
  border: 0.5px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 1px;
  margin: 10px;
}

footer .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
}

footer .github {
  background-image: url("github_icon.png");
}

footer .instagram {
  background-image: url("instagram_icon.png");
}
